################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/Packages
/obj/Debug
/Mesh-Voxelization.sln
/Logs
/Library
/Assembly-CSharp.csproj
/.vs/Mesh-Voxelization/v16
